header{color: Red;
}
.bd { color: blue;
}
.bp{ color: orange;}
.pro{ color: black ;}
.ft{ color: Red;}
.cc{color:#ff00ff;}
.fw { color: skyblue;}

ul{background-color: yellow, padding:6px}
.inabout{color:#0f06b9;
text-transform: capitalize;}
a{color: #000000;

